@font-face {
  font-family: 'All Nevrada';
  src: url('../../public/assets/fonts/AL_Nevrada_Personal_Use_Only.ttf');
  font-style: normal; 
}

* {
  box-sizing: border-box;
}

.font-custom{
  /* font-family: 'All Nevrada'; */
  text-transform: uppercase;
}

.logo {
  width: 25rem;
}

/* #banner-section{
  background-image: url('../../public/assets/bg-gray.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
} */

.subtitle {
  margin-top: 2rem;
  font-size: 1.5rem;
  max-width: 60%;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

#btn-i-want {
  background-color: #1C4A47;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  width: 15rem;

  margin-top: 3rem;

  font-size: 1.5rem;
  transition: 1s;

  font-family: 'Inter';

  animation-name: stretch;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#btn-i-want:hover {
  background-color: #14302e;
}

.for-who-section{
  display: flex;
  flex-direction: row;
  padding: 5rem 2rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-sizing: border-box;


  background-image: url('../../public/assets/bg-gray.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.for-who-container{
  border: 1px solid #1C4A47;
  box-shadow: 5px 4px #85b4d8;
  padding: 1rem 3rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35rem;
  height: 35rem;
  border-radius: 5px;
}

#for-who-title{

}

.number-for-who{
  color: #fff;
  padding: 0.5rem 1.4rem;
  border-radius: 100%;
}

.for-who-text{
  font-size: 1.5rem;
  line-height: 1.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

#price-section{
  display: flex;
  flex-direction: row;
  padding: 5rem 2rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-sizing: border-box;


  /* background-image: url('../../public/assets/bg.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}

.price-container{
  border: 1px solid #1C4A47;
  box-shadow: 5px 4px #1C4A47;
  padding: 1rem 3rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35rem;
  height: 35rem;
  border-radius: 5px;
}

.color-red-background{
  background-color: rgb(169, 22, 22);
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  /* padding: 10px 5px 0px 5px; */
  text-decoration: line-through;
  text-decoration-style: #ff0000;
  font-family: 'Montserrat';
}

#btn-i-want-wpp {
  background-color: #1C4A47;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  width: 15rem; 

  margin-bottom: 2rem;

  font-size: 1.5rem;
  transition: 1s;

  font-family: 'Inter';

  animation-name: stretch;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#btn-i-want-wpp:hover {
  background-color: #14302e;
}