@media(max-width: 1024px) {
    #title {
        max-width: 90%;
    }

    .subtitle {
        max-width: 90%;
    }

    #btn-i-want {
        width: 13rem;
        margin-top: 3rem;
        font-size: 1.3rem;
    }

    .price-container-price .text-up{
        font-size: 2rem;
    }
}

@media(max-width: 1000px) {
    .for-who-section {
        display: flex;
        flex-direction: row;
        padding: 3rem 2rem;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    #number-1,
    #number-2,
    #number-3,
    #number-4 {
        padding: 0.5rem 1.2rem;
        border-radius: 100%;
        font-size: 1.7rem;
    }

    .for-who-text {
        font-size: 1.3rem;
    }

    .price-container-price .text-up{
        font-size: 2rem;
    }

    .price-container-price .desconto-title{
        font-size: 2rem;
    }

    .price-container-price .desconto-valor{
        font-size: 3rem;
    }

    .price-container-price .desconto-text-info{
        font-size: 1rem;
    }
}

@media(max-width: 950px){
    #price-section {
        display: flex;
        flex-direction: column;
        padding: 3rem 2rem;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}

@media(max-width: 874px) {
    #for-who-title {
        font-size: 2.3rem;
    }

    #price-section {
        display: flex;
        flex-direction: column;
        padding: 3rem 2rem;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}

@media(max-width: 768px) {
    .for-who-section {
        display: flex;
        flex-direction: column;
        padding: 3rem 2rem;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    #price-section{
        display: flex;
        flex-direction: column;
        padding: 3rem 2rem;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    #number-1,
    #number-2,
    #number-3,
    #number-4 {
        padding: 0.5rem 1.2rem;
        border-radius: 100%;
        font-size: 1.7rem;
    }

    .for-who-text {
        font-size: 1.4rem;
    }
}


@media(max-width: 632px) {
    #title {
        max-width: 100%;
    }

    #btn-i-want {
        font-size: 1.2rem;
    }

    .for-who-container {
        padding: 1rem 3rem;
        width: 30rem;
        height: 30rem;
    }

    .price-container {
        /* padding: 1rem 3rem; */
        width: 30rem;
        height: 30rem;
    }

    #for-who-title {
        font-size: 2.3rem;
    }

    #number-1,
    #number-2,
    #number-3,
    #number-4 {
        padding: 0.5rem 1.2rem;
        border-radius: 100%;
        font-size: 1.7rem;
    }

    .for-who-text {
        font-size: 1.4rem;
    }

    .price-container-info .chakra-text{
        font-size: 1rem;
    }

    .price-container-price .text-up{
        font-size: 1.7rem;
    }

    .price-container-price .desconto-title{
        font-size: 1.9rem;
    }

    #valor-container{
        margin-top: 2rem;
    }

    .price-container-price .desconto-valor{
        font-size: 2.7rem;
    }

    .price-container-price .desconto-text-info{
        font-size: 1rem;
    }
}

@media(max-width: 518px) {
    .for-who-container {
        padding: 1rem 3rem;
        width: 25rem;
        height: 25rem;
    }

    .price-container {
        padding: 1rem 3rem;
        width: 25rem;
    }

    #for-who-title {
        /* font-size: 2.3rem; */
        line-height: 2.7rem;
    }

    .for-who-text {
        font-size: 1.1rem;
    }

    .price-container-info .chakra-heading{
        font-size: 1.5rem;
    }

    .price-container-info .chakra-text{
        font-size: 0.9rem;
    }
}

@media(max-width: 492px) {
    #title {
        max-width: 100%;
        font-size: 2.7rem;
        /* line-height: 2.2rem; */
    }

    .subtitle {
        max-width: 90%;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    #btn-i-want {
        font-size: 1rem;
        width: 10rem;
        padding: 0.5rem;
    }    
}

@media(max-width: 432px) {
    .for-who-container {
        padding: 1rem 3rem;
        width: 20rem;
        height: 20rem;
    }

    .price-container {
        width: 20rem;
        padding: 0rem 0rem;
    }

    #for-who-title {
        font-size: 1.7rem;
        line-height: 2rem;
    }

    #number-1,
    #number-2,
    #number-3,
    #number-4 {
        padding: 0.3rem 0.7rem;
        border-radius: 100%;
        font-size: 1rem;
    }

    .for-who-text {
        font-size: 0.9rem;
        line-height: 1rem;
    }

    .price-container-price .text-up{
        font-size: 1.2rem;
    }

    .price-container-price .desconto-title{
        font-size: 1.7rem;
    }

    #valor-container{
        margin-top: 2rem;
    }

    .price-container-price .desconto-valor{
        font-size: 2.5rem;
    }

    .price-container-price .desconto-text-info{
        font-size: 0.9rem;
    }
}

@media(max-width: 352px) {
    #title{
        font-size: 2.4rem;
    }
    .for-who-container {
        padding: 1rem 3rem;
        width: 19rem;
        height: 20rem;
    }

    .price-container {
        padding: 1rem;
        width: 18rem;
    }

    #for-who-title {
        font-size: 1.6rem;
    }

    .price-container-price .text-up{
        font-size: 1.2rem;
    }

    .price-container-price .desconto-title{
        font-size: 1.7rem;
    }

    #valor-container{
        margin-top: 2rem;
    }

    .price-container-price .desconto-valor{
        font-size: 2.5rem;
    }

    .price-container-price .desconto-text-info{
        font-size: 0.9rem;
    }
}